%html
  %head
    %title
      = "TMS :: #{yield(:title)}"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/
  %body
    .container
      = render :partial => '/layouts/home/header'
      .flash.bg-success{style: 'width: 1140px !important'}
        - flash.each do |type, message|
          %div{:class => " alert alert-#{type}"}
            %span= message
            %span.pull-right.x{style: "cursor:pointer; padding-right: 20px"} X
      #main-wrap.main-color
        = yield
    = render :partial => '/layouts/home/footer'
    = javascript_include_tag 'application'